"
" Make sure to update https://gist.github.com/bloveless/e45e97de38f2eeeddc5ff296ed241caf when updating.
"

let g:EasyMotion_override_acejump = 0

let mapleader = " "
set ideajoin
set surround
set commentary
set which-key
set easymotion
set incsearch
set visualbell
set number relativenumber
set ignorecase
set smartcase
set scrolloff=10

" Disable which-key timeout
set notimeout

nnoremap <leader>si :source ~/.ideavimrc<CR>
nnoremap <leader>e :NERDTreeToggle<CR>
" Actions aren't supposed to use remap
nnoremap <leader>f :action ReformatCode<CR>
nnoremap <leader>sf :action GotoFile<CR>
nnoremap <leader>g :action FindInPath<CR>
nnoremap <leader>b :action Switcher<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <c-y> :action EditorChooseLookupItem<CR>
inoremap <c-y> :action EditorChooseLookupItem<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>

" Don't use Ex mode, use Q for formatting.
map Q gq

map <leader>i :action QuickImplementations<CR>
map K :action ShowErrorDescription<CR>
command! Format action ReformatCode
