"
" Make sure to update https://gist.github.com/bloveless/e45e97de38f2eeeddc5ff296ed241caf when updating.
"

let g:EasyMotion_override_acejump = 0

let mapleader = " "
set ideajoin
set surround
set commentary
set which-key
set easymotion
set incsearch
set visualbell
set number relativenumber
set ignorecase
set smartcase
set scrolloff=10
set NERDTree

" Use system clipboard by default
set clipboard+=unnamedplus

" Disable which-key timeout
set notimeout

" change easymotion prefix to a single leader + command. I.E. <leader>f or <leader>w
map <Leader> <Plug>(easymotion-prefix)

" Save relative jumps to jumplist so they can be undone with ctrl+o
nnoremap <expr> j (v:count <= 1 ? 'j' : "m'" . v:count . 'j')
nnoremap <expr> k (v:count <= 1 ? 'k' : "m'" . v:count . 'k')
xnoremap <expr> j (v:count <= 1 ? 'j' : "m'" . v:count . 'j')
xnoremap <expr> k (v:count <= 1 ? 'k' : "m'" . v:count . 'k')

nnoremap <leader>si :source ~/.ideavimrc \| action IdeaVim.ReloadVimRc.reload<cr>
nnoremap <c-n> :action ActivateProjectToolWindow<cr>
" Actions aren't supposed to use remap
nnoremap <leader>f :action ReformatCode<cr>
nnoremap <leader>sf :action GotoFile<cr>
nnoremap <leader>g :action FindInPath<cr>
nnoremap <leader>b :action Switcher<cr>
nnoremap <leader>gy :action com.github.kawamataryo.copygitlink.CopyPermalink<cr>
vnoremap <leader>gy :action com.github.kawamataryo.copygitlink.CopyPermalink<cr>
nnoremap <leader>rn :action Refactorings.QuickListPopupAction<cr>
nnoremap <c-y> :action EditorChooseLookupItem<cr>
inoremap <c-y> :action EditorChooseLookupItem<cr>
nnoremap [[ :action MethodUp<cr>
nnoremap ]] :action MethodDown<cr>
nnoremap ]d :action GotoNextError<cr>
nnoremap [d :action GotoPreviousError<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap gr :action GotoDeclaration<cr>
nnoremap <leader>z :action ToggleDistractionFreeMode<cr>
nnoremap <leader>rt :action RunClass<cr>
nnoremap <leader>dt :action DebugClass<cr>
nnoremap <leader>rr :action Rerun<cr>
nnoremap <leader>m :action AddToHarpoon<cr>
nnoremap <leader>M :action ShowHarpoon<cr>
nnoremap <leader>1 :action GotoHarpoon1<cr>
nnoremap <leader>2 :action GotoHarpoon2<cr>
nnoremap <leader>3 :action GotoHarpoon3<cr>
nnoremap <leader>4 :action GotoHarpoon4<cr>
nnoremap <leader>5 :action GotoHarpoon5<cr>
nnoremap L :action NextTab<cr>
nnoremap H :action PreviousTab<cr>

" Don't use Ex mode, use Q for formatting.
map Q gq

map <leader>i :action QuickImplementations<CR>
map K :action ShowHoverInfo<CR>
command! Format action ReformatCode
