"
" Make sure to update https://gist.github.com/bloveless/e45e97de38f2eeeddc5ff296ed241caf when updating.
"

let g:EasyMotion_override_acejump = 0

let mapleader = " "
set ideajoin
set surround
set commentary
set which-key
set easymotion
set incsearch
set visualbell
set number relativenumber
set ignorecase
set smartcase
set scrolloff=10

" Disable which-key timeout
set notimeout

nnoremap <leader>si :source ~/.ideavimrc<cr>
nnoremap <leader>e :NERDTreeToggle<cr>
" Actions aren't supposed to use remap
nnoremap <leader>f :action ReformatCode<cr>
nnoremap <leader>sf :action GotoFile<cr>
nnoremap <leader>g :action FindInPath<cr>
nnoremap <leader>b :action Switcher<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <c-y> :action EditorChooseLookupItem<cr>
inoremap <c-y> :action EditorChooseLookupItem<cr>
nnoremap [[ :action MethodUp<cr>
nnoremap ]] :action MethodDown<cr>
nnoremap ]d :action GotoNextError<cr>
nnoremap [d :action GotoPreviousError<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap <leader>z :action ToggleDistractionFreeMode<cr>
nnoremap <leader>rt :action RunClass<cr>

" Don't use Ex mode, use Q for formatting.
map Q gq

map <leader>i :action QuickImplementations<CR>
map K :action ShowErrorDescription<CR>
command! Format action ReformatCode
